Repository SELab-2/OSOC-3, pull requests merged in 2022-04, with the labels that each got.

#286 remove self-hosted requirement
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: server

#314 Set new edition to current after create
  frontend/src/utils/api/editions.ts
  frontend/src/views/CreateEditionPage/CreateEditionPage.tsx
Labels: frontend, quick fix

#320 Reset confirmation button state upon closing delete edition modal
  frontend/src/components/EditionsPage/DeleteEditionModal/DeleteEditionModal.tsx
Labels: bug, frontend, quick fix

#274 Projects page and project detail page
  backend/migrations/versions/64c42bb48aee_.py
  backend/migrations/versions/964637070800_.py
  backend/migrations/versions/c5bdaa5815ca_.py
  files/user_manual.md
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/components/LoginComponents/InputFields/styles.ts
  frontend/src/components/ProjectsComponents/ConfirmDelete/ConfirmDelete.tsx
  frontend/src/components/ProjectsComponents/ConfirmDelete/index.ts
  frontend/src/components/ProjectsComponents/ConfirmDelete/styles.ts
  frontend/src/components/ProjectsComponents/LoadSpinner/LoadSpinner.tsx
  frontend/src/components/ProjectsComponents/LoadSpinner/index.ts
  frontend/src/components/ProjectsComponents/LoadSpinner/styles.ts
  frontend/src/components/ProjectsComponents/ProjectCard/ProjectCard.tsx
  frontend/src/components/ProjectsComponents/ProjectCard/index.ts
  frontend/src/components/ProjectsComponents/ProjectCard/styles.ts
  frontend/src/components/ProjectsComponents/StudentPlaceholder/StudentPlaceholder.tsx
  frontend/src/components/ProjectsComponents/StudentPlaceholder/index.ts
  frontend/src/components/ProjectsComponents/StudentPlaceholder/styles.ts
  frontend/src/components/ProjectsComponents/index.ts
  frontend/src/components/RegisterComponents/InputFields/styles.ts
  frontend/src/components/index.ts
  frontend/src/data/interfaces/index.ts
  frontend/src/data/interfaces/projects.ts
  frontend/src/utils/api/projects.ts
  frontend/src/views/ProjectsPage/ProjectsPage.css
  frontend/src/views/ProjectsPage/ProjectsPage.tsx
  frontend/src/views/RegisterPage/styles.ts
  frontend/src/views/index.ts
  frontend/src/views/projectViews/ProjectDetailPage/ProjectDetailPage.tsx
  frontend/src/views/projectViews/ProjectDetailPage/index.ts
  frontend/src/views/projectViews/ProjectDetailPage/styles.ts
  frontend/src/views/projectViews/ProjectsPage/ProjectsPage.tsx
  frontend/src/views/projectViews/ProjectsPage/index.ts
  frontend/src/views/projectViews/ProjectsPage/styles.ts
  frontend/src/views/projectViews/index.ts
  frontend/yarn.lock
Labels: frontend

#327 Change post & delete in removeAdminAndCoach
  frontend/src/utils/api/users/admins.ts
Labels: bug, frontend, quick fix

#323 update guide
  files/sysadmin_guide.md
Labels: documentation

#312 Add students email link to navbar
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/Navbar/StudentsDropdown.tsx
  frontend/src/components/Navbar/UsersDropdown.tsx
Labels: frontend, quick fix

#311 Update footer links
  frontend/src/components/Footer/FooterLinks.tsx
  frontend/src/components/Footer/styles.ts
Labels: documentation, frontend, quick fix

#325 Create project
  frontend/src/Router.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/AddedCoaches/AddedCoaches.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/AddedCoaches/index.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/AddedPartners/AddedPartners.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/AddedPartners/index.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/AddedSkills/AddedSkills.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/AddedSkills/index.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/AddedSkills/styles.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/Coach/Coach.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/Coach/index.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/Name/Name.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/Name/index.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/NumberOfStudents/NumberOfStudents.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/NumberOfStudents/index.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/Partner/Partner.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/Partner/index.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/Skill/Skill.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/Skill/index.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/index.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/index.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/styles.ts
  frontend/src/components/ProjectsComponents/ProjectCard/ProjectCard.tsx
  frontend/src/data/interfaces/projects.ts
  frontend/src/utils/api/projects.ts
  frontend/src/views/index.ts
  frontend/src/views/projectViews/CreateProjectPage/CreateProjectPage.tsx
  frontend/src/views/projectViews/CreateProjectPage/index.ts
  frontend/src/views/projectViews/CreateProjectPage/styles.ts
  frontend/src/views/projectViews/ProjectsPage/ProjectsPage.tsx
  frontend/src/views/projectViews/index.ts
Labels: enhancement, frontend

#331 Clear tokens from localstorage
  frontend/src/contexts/auth-context.tsx
Labels: bug, frontend, quick fix

#332 Re-release Milestone 2
  frontend/src/contexts/auth-context.tsx
Labels: bug, frontend, quick fix

#337 Add dependencies for async testing
  backend/poetry.lock
  backend/pyproject.toml
Labels: enhancement, backend, quick fix
