Repository SELab-2/OSOC-3, pull requests merged in 2022-05, with the labels that each got.

#363 Remove google buttons
  files/Assignment.md
  files/user_manual.md
  files/uses_cases/use_cases_users.md
  frontend/src/components/GeneralComponents/AuthTypeIcon.tsx
  frontend/src/components/LoginComponents/SocialButtons/SocialButtons.tsx
  frontend/src/components/LoginComponents/SocialButtons/styles.ts
  frontend/src/components/RegisterComponents/SocialButtons/SocialButtons.tsx
  frontend/src/data/enums/authType.ts
Labels: enhancement, frontend, quick fix

#341 Add codecov
  .github/workflows/backend.yml
  codecov.yaml
Labels: enhancement, ci/cd, don't merge yet

#344 use create_all instead of migrations
  backend/src/app/app.py
  backend/tests/conftest.py
Labels: enhancement, backend

#366 Hide some routes when not on the most recent edition
  frontend/src/Router.tsx
  frontend/src/components/CurrentEditionRoute/CurrentEditionRoute.tsx
  frontend/src/components/CurrentEditionRoute/index.ts
  frontend/src/components/index.ts
  frontend/src/views/projectViews/ProjectsPage/ProjectsPage.tsx
Labels: enhancement, frontend

#339 Fix redirect for frontend requests
  backend/src/app/routers/editions/editions.py
  backend/src/app/routers/editions/invites/invites.py
  backend/src/app/routers/editions/projects/projects.py
  backend/src/app/routers/editions/students/students.py
  backend/src/app/routers/editions/students/suggestions/suggestions.py
  backend/src/app/routers/editions/webhooks/webhooks.py
  backend/src/app/routers/skills/skills.py
  backend/src/app/routers/users/users.py
  backend/tests/test_routers/test_editions/test_editions/test_editions.py
  backend/tests/test_routers/test_editions/test_invites/test_invites.py
  backend/tests/test_routers/test_editions/test_projects/test_projects.py
  backend/tests/test_routers/test_editions/test_students/test_suggestions/test_suggestions.py
  backend/tests/test_routers/test_editions/test_webhooks/test_webhooks.py
  backend/tests/test_routers/test_skills/test_skills.py
  frontend/src/utils/api/projects.ts
Labels: bug, backend

#374 Students API calls
  frontend/src/data/interfaces/students.ts
  frontend/src/utils/api/students.ts
Labels: enhancement, frontend

#343 Users infinite scroll
  frontend/src/components/AdminsComponents/AdminList.tsx
  frontend/src/components/AdminsComponents/AdminListItem.tsx
  frontend/src/components/AdminsComponents/RemoveAdmin.tsx
  frontend/src/components/UsersComponents/Coaches/Coaches.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/CoachList.tsx
  frontend/src/components/UsersComponents/Requests/Requests.tsx
  frontend/src/components/UsersComponents/Requests/RequestsComponents/RequestList.tsx
  frontend/src/components/UsersComponents/Requests/styles.ts
  frontend/src/components/styles.ts
  frontend/src/utils/api/users/users.ts
  frontend/src/views/AdminsPage/AdminsPage.tsx
  frontend/src/views/UsersPage/UsersPage.tsx
Labels: bug, frontend

#280 Skill rewrite & cascade
  backend/pyproject.toml
  backend/src/app/exceptions/editions.py
  backend/src/app/exceptions/handlers.py
  backend/src/app/exceptions/util.py
  backend/src/app/logic/partners.py
  backend/src/app/logic/projects.py
  backend/src/app/logic/projects_students.py
  backend/src/app/logic/students.py
  backend/src/app/routers/editions/editions.py
  backend/src/app/routers/editions/projects/projects.py
  backend/src/app/routers/editions/projects/students/projects_students.py
  backend/src/app/routers/skills/skills.py
  backend/src/app/schemas/projects.py
  backend/src/app/schemas/skills.py
  backend/src/app/schemas/suggestion.py
  backend/src/app/utils/dependencies.py
  backend/src/database/crud/editions.py
  backend/src/database/crud/partners.py
  backend/src/database/crud/projects.py
  backend/src/database/crud/projects_students.py
  backend/src/database/crud/skills.py
  backend/src/database/models.py
  backend/tests/fill_database.py
  backend/tests/test_database/test_crud/test_projects.py
  backend/tests/test_database/test_crud/test_projects_students.py
  backend/tests/test_database/test_crud/test_students.py
  backend/tests/test_database/test_crud/test_suggestions.py
  backend/tests/test_routers/test_editions/test_projects/test_projects.py
  backend/tests/test_routers/test_editions/test_projects/test_students/test_students.py
  backend/tests/test_routers/test_editions/test_students/test_students.py
  backend/tests/test_routers/test_editions/test_students/test_suggestions/test_suggestions.py
  backend/tests/test_routers/test_skills/test_skills.py
Labels: backend

#382 Fix navbar margin
  frontend/src/components/Navbar/NavbarBase.tsx
Labels: frontend, quick fix

#383 Vertical and horizontal seps in navbar
  frontend/src/components/Navbar/LogoutButton.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/Navbar/styles.ts
Labels: enhancement, frontend, quick fix

#381 Common components
  frontend/src/App.css
  frontend/src/components/Common/Buttons/CreateButton.tsx
  frontend/src/components/Common/Buttons/DeleteButton.tsx
  frontend/src/components/Common/Buttons/WarningButton.tsx
  frontend/src/components/Common/Buttons/index.ts
  frontend/src/components/Common/Buttons/props.ts
  frontend/src/components/Common/Buttons/styles.ts
  frontend/src/components/Common/Forms/InputField.tsx
  frontend/src/components/Common/Forms/index.ts
  frontend/src/components/Common/LoadSpinner/LoadSpinner.tsx
  frontend/src/components/Common/LoadSpinner/index.ts
  frontend/src/components/Common/LoadSpinner/styles.ts
  frontend/src/components/Common/Placeholders/OSOCSpinner/OSOCSpinner.tsx
  frontend/src/components/Common/Placeholders/OSOCSpinner/index.ts
  frontend/src/components/Common/Placeholders/OSOCSpinner/styles.ts
  frontend/src/components/Common/Placeholders/index.ts
  frontend/src/components/Common/index.ts
  frontend/src/components/Common/styles.ts
  frontend/src/components/CommonComps/index.ts
  frontend/src/components/index.ts
  frontend/src/images/letters/osoc_c.svg
  frontend/src/views/LoginPage/LoginPage.tsx
  frontend/src/views/LoginPage/styles.ts
Labels: enhancement, frontend

#394 API calls for skills (in frontend) and interfaces
  frontend/src/data/interfaces/skills.ts
  frontend/src/utils/api/skills.ts
Labels: enhancement, frontend

#393 Tables colors
  frontend/src/App.css
Labels: frontend, quick fix

#391 Remove editionspage title
  frontend/src/views/EditionsPage/EditionsPage.tsx
Labels: frontend, quick fix

#392 Make year of an edition not unqiue
  backend/src/database/models.py
Labels: backend, quick fix

#388 New Form Control
  frontend/src/App.styles.ts
  frontend/src/Router.tsx
  frontend/src/components/Common/Forms/FormControl.tsx
  frontend/src/components/Common/Forms/InputField.tsx
  frontend/src/components/Common/Forms/index.ts
  frontend/src/components/Common/Forms/styles.ts
Labels: frontend, quick fix

#396 Rewrite login page
  frontend/src/components/Common/Buttons/styles.ts
  frontend/src/components/LoginComponents/WelcomeText/WelcomeText.tsx
  frontend/src/utils/api/api.ts
  frontend/src/utils/api/login.ts
  frontend/src/views/LoginPage/LoginPage.tsx
Labels: enhancement, frontend

#373 Style Adminspage
  frontend/src/components/AdminsComponents/AddAdmin.tsx
  frontend/src/components/AdminsComponents/AdminList.tsx
  frontend/src/components/AdminsComponents/RemoveAdmin.tsx
  frontend/src/components/AdminsComponents/styles.ts
  frontend/src/components/GeneralComponents/MenuItem.tsx
  frontend/src/components/GeneralComponents/styles.ts
  frontend/src/views/AdminsPage/AdminsPage.tsx
  frontend/src/views/AdminsPage/styles.ts
Labels: bug, frontend

#303 Students v2
  backend/.gitignore
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/components/StudentInfoComponents/RemoveStudentButton/RemoveStudentButton.tsx
  frontend/src/components/StudentInfoComponents/StudentInfo.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/styles.ts
  frontend/src/components/StudentInfoComponents/SuggestionComponents/AdminDecisionContainer/AdminDecisionContainer.tsx
  frontend/src/components/StudentInfoComponents/SuggestionComponents/AdminDecisionContainer/index.ts
  frontend/src/components/StudentInfoComponents/SuggestionComponents/AdminDecisionContainer/styles.ts
  frontend/src/components/StudentInfoComponents/SuggestionComponents/CoachSuggestionContainer/CoachSuggestionContainer.tsx
  frontend/src/components/StudentInfoComponents/SuggestionComponents/CoachSuggestionContainer/index.ts
  frontend/src/components/StudentInfoComponents/SuggestionComponents/index.ts
  frontend/src/components/StudentInfoComponents/styles.ts
  frontend/src/components/StudentsComponents/StudentList/StudentCard/StudentCard.tsx
  frontend/src/components/StudentsComponents/StudentList/StudentCard/index.ts
  frontend/src/components/StudentsComponents/StudentList/StudentCard/styles.ts
  frontend/src/components/StudentsComponents/StudentList/StudentList.tsx
  frontend/src/components/StudentsComponents/StudentList/SuggestionProgressBar/SuggestionProgressBar.tsx
  frontend/src/components/StudentsComponents/StudentList/SuggestionProgressBar/index.ts
  frontend/src/components/StudentsComponents/StudentList/SuggestionProgressBar/styles.ts
  frontend/src/components/StudentsComponents/StudentList/index.ts
  frontend/src/components/StudentsComponents/StudentList/styles.ts
  frontend/src/components/StudentsComponents/StudentListFilters/AlumniFilter/AlumniFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/AlumniFilter/index.ts
  frontend/src/components/StudentsComponents/StudentListFilters/NameFilter/NameFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/NameFilter/index.ts
  frontend/src/components/StudentsComponents/StudentListFilters/ResetFiltersButton/ResetFiltersButton.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/ResetFiltersButton/index.ts
  frontend/src/components/StudentsComponents/StudentListFilters/RolesFilter/RolesFilter.css
  frontend/src/components/StudentsComponents/StudentListFilters/RolesFilter/RolesFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/RolesFilter/index.ts
  frontend/src/components/StudentsComponents/StudentListFilters/StudentCoachVolunteerFilter/StudentCoachVolunteerFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentCoachVolunteerFilter/index.ts
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.css
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/index.ts
  frontend/src/components/StudentsComponents/StudentListFilters/styles.ts
  frontend/src/components/StudentsComponents/index.ts
  frontend/src/data/interfaces/projects.ts
  frontend/src/data/interfaces/students.ts
  frontend/src/data/interfaces/suggestions.ts
  frontend/src/utils/api/skills.ts
  frontend/src/utils/api/students.ts
  frontend/src/utils/api/suggestions.ts
  frontend/src/views/StudentInfoPage/StudentInfoPage.tsx
  frontend/src/views/StudentInfoPage/index.ts
  frontend/src/views/StudentInfoPage/styles.ts
  frontend/src/views/StudentsPage/StudentsPage.css
  frontend/src/views/StudentsPage/StudentsPage.tsx
  frontend/src/views/index.ts
  frontend/yarn.lock
Labels: frontend

#400 Order Database Queries
  backend/src/database/crud/projects.py
  backend/src/database/crud/students.py
  backend/src/database/crud/users.py
Labels: backend

#407 Common searchbar
  frontend/src/components/Common/Forms/SearchBar.tsx
  frontend/src/components/Common/Forms/index.ts
  frontend/src/components/Common/Forms/styles.ts
Labels: enhancement, frontend, quick fix

#410 Fix coverage report
  .github/workflows/backend.yml
  backend/pyproject.toml
Labels: bug, ci/cd, backend

#406 fix redirects
  backend/tests/test_routers/test_editions/test_projects/test_projects.py
  backend/tests/test_routers/test_editions/test_students/test_students.py
  frontend/src/utils/api/editions.ts
  frontend/src/utils/api/students.ts
  frontend/src/utils/api/users/coaches.ts
  frontend/src/utils/api/users/users.ts
Labels: bug, frontend, backend, quick fix

#411 Only cover src
  backend/pyproject.toml
Labels: ci/cd, backend, quick fix

#390 Style Coachespage
  frontend/src/components/AdminsComponents/AddAdmin.tsx
  frontend/src/components/AdminsComponents/styles.ts
  frontend/src/components/Common/Buttons/styles.ts
  frontend/src/components/ProjectsComponents/ProjectCard/ProjectCard.tsx
  frontend/src/components/UsersComponents/Coaches/Coaches.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/AddCoach.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/CoachList.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/RemoveCoach.tsx
  frontend/src/components/UsersComponents/Coaches/styles.ts
  frontend/src/components/UsersComponents/InviteUser/InviteUser.tsx
  frontend/src/components/UsersComponents/InviteUser/InviteUserComponents/SendInviteButton.tsx
  frontend/src/components/UsersComponents/InviteUser/styles.ts
  frontend/src/components/UsersComponents/Requests/Requests.tsx
  frontend/src/components/UsersComponents/Requests/RequestsComponents/AcceptReject.tsx
  frontend/src/components/UsersComponents/Requests/styles.ts
  frontend/src/views/UsersPage/UsersPage.tsx
  frontend/src/views/UsersPage/styles.ts
Labels: bug, frontend

#408 student card visuals + namefilter fix
  frontend/src/App.css
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/styles.ts
  frontend/src/components/StudentsComponents/StudentList/StudentCard/StudentCard.tsx
  frontend/src/components/StudentsComponents/StudentList/StudentCard/styles.ts
  frontend/src/components/StudentsComponents/StudentList/StudentList.tsx
  frontend/src/components/StudentsComponents/StudentList/SuggestionProgressBar/SuggestionProgressBar.css
  frontend/src/components/StudentsComponents/StudentList/SuggestionProgressBar/SuggestionProgressBar.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/styles.ts
  frontend/src/utils/api/students.ts
  frontend/src/views/StudentInfoPage/styles.ts
Labels: enhancement, frontend

#413 Remove table header separator
  frontend/src/App.css
Labels: enhancement, frontend, quick fix

#244 Student email history
  backend/src/database/crud/students.py
  files/user_manual.md
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/data/enums/emailtype.ts
  frontend/src/data/enums/index.ts
  frontend/src/data/interfaces/email.ts
  frontend/src/data/interfaces/index.ts
  frontend/src/data/interfaces/student.ts
  frontend/src/utils/api/mail_overview.ts
  frontend/src/utils/api/student_email_history.ts
  frontend/src/views/MailOverviewPage/MailOverviewPage.tsx
  frontend/src/views/MailOverviewPage/index.ts
  frontend/src/views/MailOverviewPage/styles.ts
  frontend/src/views/StudentMailHistoryPage/StudentMailHistoryPage.tsx
  frontend/src/views/StudentMailHistoryPage/index.ts
  frontend/src/views/StudentMailHistoryPage/styles.ts
  frontend/src/views/index.ts
  frontend/yarn.lock
Labels: frontend

#420 Common table
  frontend/src/components/Common/Tables/index.ts
  frontend/src/components/Common/Tables/styles.ts
  frontend/src/components/Common/index.ts
Labels: enhancement, frontend, quick fix

#412 Coaches: Use common searchBar
  frontend/src/components/UsersComponents/Coaches/Coaches.tsx
  frontend/src/components/UsersComponents/Coaches/styles.ts
  frontend/src/components/UsersComponents/InviteUser/InviteUser.css
  frontend/src/components/UsersComponents/InviteUser/InviteUser.tsx
  frontend/src/components/UsersComponents/Requests/Requests.tsx
  frontend/src/components/UsersComponents/Requests/RequestsComponents/RequestList.tsx
  frontend/src/components/UsersComponents/Requests/styles.ts
Labels: frontend, quick fix

#418 Students: infinte scroll + refactor
  frontend/src/components/StudentInfoComponents/RemoveStudentButton/RemoveStudentButton.tsx
  frontend/src/components/StudentInfoComponents/StudentInfo.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/components/StudentsComponents/StudentList/StudentList.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/styles.ts
  frontend/src/utils/api/students.ts
  frontend/src/utils/api/suggestions.ts
  frontend/src/views/StudentInfoPage/StudentInfoPage.tsx
  frontend/src/views/StudentsPage/StudentsPage.tsx
Labels: bug, enhancement, frontend

#409 Add initial skills on startup
  backend/settings.py
  backend/src/app/app.py
  backend/src/database/crud/skills.py
  backend/tests/test_database/test_crud/test_skills.py
Labels: enhancement, backend

#428 Fix non-unique "key" prop
  frontend/src/components/AdminsComponents/AdminList.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/CoachList.tsx
  frontend/src/components/UsersComponents/Requests/RequestsComponents/RequestList.tsx
Labels: bug, quick fix

#429 Merge GeneralComponents into Common
  frontend/src/components/AdminsComponents/AddAdmin.tsx
  frontend/src/components/AdminsComponents/AdminListItem.tsx
  frontend/src/components/Common/Users/AuthTypeIcon.tsx
  frontend/src/components/Common/Users/EmailAndAuth.tsx
  frontend/src/components/Common/Users/MenuItem.tsx
  frontend/src/components/Common/Users/index.ts
  frontend/src/components/Common/Users/styles.ts
  frontend/src/components/Common/index.ts
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/AddCoach.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/CoachListItem.tsx
  frontend/src/components/UsersComponents/Requests/RequestsComponents/RequestListItem.tsx
  frontend/src/components/index.ts
Labels: frontend, quick fix

#430 Hide state history for non-admins in navbar
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/Navbar/StudentsDropdown.tsx
Labels: quick fix

#437 Fix typeahead ref in coach modal
  frontend/src/components/AdminsComponents/AddAdmin.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/AddCoach.tsx
Labels: bug, frontend, quick fix

#441 fixes #419
  backend/src/database/crud/projects_students.py
  backend/tests/test_routers/test_editions/test_projects/test_students/test_students.py
Labels: backend, quick fix

#422 Don't close add modals
  frontend/src/components/AdminsComponents/AddAdmin.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/AddCoach.tsx
Labels: enhancement, frontend, quick fix

#385 Create edition page updates
  frontend/src/views/CreateEditionPage/CreateEditionPage.tsx
  frontend/src/views/CreateEditionPage/styles.ts
Labels: enhancement, frontend

#440 Style adminspage + refactor common components
  frontend/src/components/AdminsComponents/AddAdmin.tsx
  frontend/src/components/AdminsComponents/AdminList.tsx
  frontend/src/components/AdminsComponents/RemoveAdmin.tsx
  frontend/src/components/AdminsComponents/styles.ts
  frontend/src/components/Common/Users/styles.ts
  frontend/src/components/Common/styles.ts
  frontend/src/components/ProjectsComponents/Conflicts/ConflictsButton.tsx
  frontend/src/components/ProjectsComponents/ProjectTable.tsx
  frontend/src/components/StudentsComponents/StudentList/StudentList.tsx
  frontend/src/components/UsersComponents/Coaches/Coaches.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/AddCoach.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/CoachList.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/RemoveCoach.tsx
  frontend/src/components/UsersComponents/Coaches/styles.ts
  frontend/src/components/UsersComponents/Requests/Requests.tsx
  frontend/src/components/UsersComponents/Requests/RequestsComponents/RequestList.tsx
  frontend/src/components/UsersComponents/Requests/styles.ts
  frontend/src/views/AdminsPage/AdminsPage.tsx
  frontend/src/views/AdminsPage/styles.ts
  frontend/src/views/MailOverviewPage/MailOverviewPage.tsx
Labels: frontend

#415 add websocket basics
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/app/app.py
  backend/src/app/routers/editions/editions.py
  backend/src/app/routers/editions/projects/projects.py
  backend/src/app/routers/editions/projects/students/projects_students.py
  backend/src/app/routers/editions/students/students.py
  backend/src/app/routers/editions/students/suggestions/suggestions.py
  backend/src/app/utils/dependencies.py
  backend/src/app/utils/websockets.py
  backend/src/database/crud/projects.py
  backend/src/database/crud/projects_students.py
  backend/src/database/models.py
  backend/tests/test_routers/test_editions/test_projects/test_students/test_students.py
  backend/tests/test_utils/test_websockets.py
Labels: enhancement, backend

#446 Delete project role
  backend/src/app/logic/projects.py
  backend/src/app/routers/editions/projects/projects.py
  backend/src/database/crud/projects.py
  backend/tests/test_database/test_crud/test_projects.py
  backend/tests/test_routers/test_editions/test_projects/test_projects.py
Labels: backend

#454 Filter students on definitive decision in backend
  backend/src/app/schemas/students.py
  backend/src/database/crud/students.py
  backend/src/database/enums.py
  backend/tests/test_database/test_crud/test_students.py
  backend/tests/test_routers/test_editions/test_students/test_students.py
Labels: enhancement, backend

#448 return project role suggestion when post
  backend/src/app/logic/projects_students.py
  backend/src/app/routers/editions/projects/students/projects_students.py
  backend/src/app/schemas/projects.py
  backend/tests/test_routers/test_editions/test_projects/test_students/test_students.py
Labels: bug, backend

#455 tests
  frontend/src/views/LoginPage/LoginPage.test.tsx
Labels: frontend

#504 Style scrollbar
  frontend/src/App.css
Labels: frontend, quick fix

#509 Cascade student suggestions
  backend/src/database/models.py
Labels: bug, backend, quick fix

#510 Relaxed edition name restriction to allow dashes in backend
  backend/src/app/schemas/validators.py
  backend/tests/test_schemas/test_validators.py
Labels: enhancement, backend, quick fix

#508 Emails -> States
  frontend/src/Router.tsx
  frontend/src/components/Navbar/StudentsDropdown.tsx
Labels: bug, frontend, quick fix

#514 Fix warnings projectspage
  frontend/src/components/Common/Buttons/WarningButton.tsx
  frontend/src/components/Common/Buttons/props.ts
  frontend/src/components/ProjectsComponents/Conflicts/ConflictsButton.tsx
  frontend/src/components/ProjectsComponents/ProjectTable.tsx
Labels: frontend, quick fix

#450 Style buttons (remove glow & disabled color)
  frontend/src/components/Common/Buttons/styles.ts
Labels: bug, quick fix

#506 Common typeahead input
  frontend/src/components/AdminsComponents/AddAdmin.tsx
  frontend/src/components/Common/Forms/styles.ts
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/AddCoach.tsx
Labels: enhancement, frontend

#507 Editions name restrictions
  frontend/src/views/CreateEditionPage/CreateEditionPage.tsx
Labels: bug, frontend

#512 Removed get_latest_edition from some endpoints
  backend/src/app/routers/editions/projects/projects.py
  backend/src/app/routers/editions/projects/students/projects_students.py
Labels: backend, quick fix

#447 Roles and suggestion filters
  frontend/src/components/StudentsComponents/StudentListFilters/RolesFilter/RolesFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/SuggestedForFilter/SuggestedForFilter.tsx
  frontend/src/utils/api/students.ts
Labels: frontend

#451 Students session storage
  frontend/src/components/StudentsComponents/StudentListFilters/AlumniFilter/AlumniFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/NameFilter/NameFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/ResetFiltersButton/ResetFiltersButton.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/RolesFilter/RolesFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentCoachVolunteerFilter/StudentCoachVolunteerFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/SuggestedForFilter/SuggestedForFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/SuggestedForFilter/index.ts
  frontend/src/data/enums/session-storage.ts
  frontend/src/utils/api/students.ts
  frontend/src/utils/session-storage/student-filters.ts
Labels: frontend

#452 Copy student url
  frontend/src/components/StudentInfoComponents/StudentCopyLink/StudentCopyLink.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/styles.ts
Labels: frontend

#453 Students UI
  frontend/src/components/StudentInfoComponents/RemoveStudentButton/RemoveStudentButton.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.css
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/styles.ts
  frontend/src/components/StudentInfoComponents/SuggestionComponents/AdminDecisionContainer/AdminDecisionContainer.tsx
  frontend/src/components/StudentInfoComponents/SuggestionComponents/AdminDecisionContainer/styles.ts
  frontend/src/components/StudentInfoComponents/SuggestionComponents/CoachSuggestionContainer/CoachSuggestionContainer.tsx
  frontend/src/components/StudentInfoComponents/SuggestionComponents/CoachSuggestionContainer/styles.ts
  frontend/src/components/StudentsComponents/StudentListFilters/NameFilter/NameFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/ResetFiltersButton/ResetFiltersButton.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/RolesFilter/RolesFilter.css
  frontend/src/components/StudentsComponents/StudentListFilters/RolesFilter/RolesFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/styles.ts
Labels: frontend

#513 Fix remove coach
  frontend/src/views/UsersPage/UsersPage.tsx
Labels: frontend, quick fix

#444 Toasts instead of error-texts
  frontend/src/components/AdminsComponents/AddAdmin.tsx
  frontend/src/components/AdminsComponents/AdminList.tsx
  frontend/src/components/AdminsComponents/AdminListItem.tsx
  frontend/src/components/AdminsComponents/RemoveAdmin.tsx
  frontend/src/components/Common/Tables/styles.ts
  frontend/src/components/Common/Users/styles.ts
  frontend/src/components/ProjectsComponents/ProjectTable.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/components/StudentInfoComponents/SuggestionComponents/AdminDecisionContainer/AdminDecisionContainer.tsx
  frontend/src/components/StudentInfoComponents/SuggestionComponents/CoachSuggestionContainer/CoachSuggestionContainer.tsx
  frontend/src/components/StudentsComponents/StudentList/StudentList.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/AlumniFilter/AlumniFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/NameFilter/NameFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/ResetFiltersButton/ResetFiltersButton.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/RolesFilter/RolesFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentCoachVolunteerFilter/StudentCoachVolunteerFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/SuggestedForFilter/SuggestedForFilter.tsx
  frontend/src/components/UsersComponents/Coaches/Coaches.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/AddCoach.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/CoachList.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/CoachListItem.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/RemoveCoach.tsx
  frontend/src/components/UsersComponents/Coaches/styles.ts
  frontend/src/components/UsersComponents/InviteUser/InviteUser.tsx
  frontend/src/components/UsersComponents/InviteUser/InviteUserComponents/SendInviteButton.tsx
  frontend/src/components/UsersComponents/Requests/Requests.tsx
  frontend/src/components/UsersComponents/Requests/RequestsComponents/AcceptReject.tsx
  frontend/src/utils/api/mail_overview.ts
  frontend/src/utils/api/projects.ts
  frontend/src/utils/api/students.ts
  frontend/src/utils/api/suggestions.ts
  frontend/src/utils/api/users/admins.ts
  frontend/src/utils/api/users/coaches.ts
  frontend/src/utils/api/users/requests.ts
  frontend/src/views/AdminsPage/AdminsPage.tsx
  frontend/src/views/MailOverviewPage/MailOverviewPage.tsx
  frontend/src/views/MailOverviewPage/styles.ts
  frontend/src/views/UsersPage/UsersPage.tsx
  frontend/src/views/projectViews/ProjectsPage/ProjectsPage.tsx
Labels: enhancement, frontend

#525 Confirmation filter
  frontend/src/components/StudentInfoComponents/StudentCopyLink/StudentCopyLink.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/styles.ts
  frontend/src/components/StudentInfoComponents/SuggestionComponents/AdminDecisionContainer/styles.ts
  frontend/src/components/StudentInfoComponents/SuggestionComponents/CoachSuggestionContainer/styles.ts
  frontend/src/components/StudentsComponents/StudentList/styles.ts
  frontend/src/components/StudentsComponents/StudentListFilters/ConfirmFilters/ConfirmFilters.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/ConfirmFilters/index.ts
  frontend/src/components/StudentsComponents/StudentListFilters/Dropdown.css
  frontend/src/components/StudentsComponents/StudentListFilters/ResetFiltersButton/ResetFiltersButton.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/RolesFilter/RolesFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/styles.ts
  frontend/src/data/enums/session-storage.ts
  frontend/src/utils/api/students.ts
  frontend/src/utils/session-storage/student-filters.ts
Labels: frontend

#523 Added an email body to the invite emails
  backend/src/app/logic/invites.py
  backend/templates/invites.txt
Labels: backend, quick fix

#529 Reload data when changing edition in navbar
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/components/UsersComponents/Requests/Requests.tsx
  frontend/src/views/UsersPage/UsersPage.tsx
  frontend/src/views/projectViews/ProjectsPage/ProjectsPage.tsx
Labels: enhancement, frontend

#527 Fix scroll resetting after loading more students
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
Labels: bug, frontend, quick fix

#515 add info_url to projects
  backend/src/app/schemas/projects.py
  backend/src/app/schemas/validators.py
  backend/src/database/crud/projects.py
  backend/src/database/models.py
  backend/tests/test_database/test_crud/test_projects.py
  backend/tests/test_routers/test_editions/test_projects/test_projects.py
  backend/tests/test_schemas/test_validators.py
Labels: enhancement, backend

#536 Create a common orange button
  frontend/src/components/Common/Buttons/OrangeButton.tsx
  frontend/src/components/Common/Buttons/index.ts
  frontend/src/components/Common/Buttons/styles.ts
Labels: enhancement, frontend, quick fix

#524 Re-write readonly editions
  backend/src/app/logic/editions.py
  backend/src/app/logic/users.py
  backend/src/app/routers/editions/editions.py
  backend/src/app/routers/editions/invites/invites.py
  backend/src/app/routers/editions/projects/projects.py
  backend/src/app/routers/editions/projects/students/projects_students.py
  backend/src/app/routers/editions/register/register.py
  backend/src/app/routers/editions/students/students.py
  backend/src/app/routers/editions/students/suggestions/suggestions.py
  backend/src/app/routers/editions/webhooks/webhooks.py
  backend/src/app/routers/login/login.py
  backend/src/app/routers/users/users.py
  backend/src/app/schemas/editions.py
  backend/src/app/schemas/login.py
  backend/src/app/utils/dependencies.py
  backend/src/database/crud/editions.py
  backend/src/database/crud/users.py
  backend/src/database/models.py
  backend/tests/test_database/test_crud/test_users.py
  backend/tests/test_routers/test_editions/test_editions/test_editions.py
  backend/tests/test_routers/test_editions/test_invites/test_invites.py
  backend/tests/test_routers/test_editions/test_projects/test_projects.py
  backend/tests/test_routers/test_editions/test_projects/test_students/test_students.py
  backend/tests/test_routers/test_editions/test_register/test_register.py
  backend/tests/test_routers/test_editions/test_students/test_students.py
  backend/tests/test_routers/test_editions/test_students/test_suggestions/test_suggestions.py
  backend/tests/test_routers/test_editions/test_webhooks/test_webhooks.py
  backend/tests/test_routers/test_users/test_users.py
  frontend/src/components/CurrentEditionRoute/CurrentEditionRoute.tsx
  frontend/src/components/EditionsPage/DeleteEditionButton.tsx
  frontend/src/components/EditionsPage/EditionRow.tsx
  frontend/src/components/EditionsPage/EditionsTable.tsx
  frontend/src/components/EditionsPage/MarkReadonlyButton.tsx
  frontend/src/components/EditionsPage/styles.ts
  frontend/src/components/Navbar/EditionDropdown.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/contexts/auth-context.tsx
  frontend/src/contexts/index.ts
  frontend/src/data/interfaces/editions.ts
  frontend/src/data/interfaces/users.ts
  frontend/src/utils/api/editions.ts
  frontend/src/utils/logic/editions.ts
  frontend/src/utils/logic/index.ts
  frontend/src/views/projectViews/ProjectsPage/ProjectsPage.tsx
Labels: enhancement, frontend, backend

#517 Style states history
  frontend/src/components/Common/Buttons/buttonsStyles.css
  frontend/src/components/Common/Buttons/styles.ts
  frontend/src/components/Common/Forms/CommonMultiselect.tsx
  frontend/src/components/Common/Forms/formsStyles.css
  frontend/src/components/Common/Forms/index.ts
  frontend/src/components/Common/Forms/styles.ts
  frontend/src/views/MailOverviewPage/MailOverviewPage.css
  frontend/src/views/MailOverviewPage/MailOverviewPage.tsx
  frontend/src/views/MailOverviewPage/styles.ts
Labels: enhancement, frontend

#518 Zerostudents
  backend/src/app/exceptions/handlers.py
  backend/src/app/exceptions/projects.py
  backend/src/app/logic/projects.py
  backend/src/app/routers/editions/projects/projects.py
  backend/tests/test_routers/test_editions/test_projects/test_projects.py
Labels: backend

#540 Label instead of dropdown when only 1 edition
  frontend/src/components/Navbar/EditionDropdown.tsx
  frontend/src/components/Navbar/styles.ts
Labels: frontend, quick fix

#537 fix bug when no editions yet
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/Navbar/StudentsDropdown.tsx
Labels: bug, frontend, quick fix

#461 Project detail page (add students)
  backend/tests/test_routers/test_editions/test_projects/test_students/test_students.py
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/components/ProjectDetailComponents/AddStudentModal/AddStudentModal.tsx
  frontend/src/components/ProjectDetailComponents/AddStudentModal/index.ts
  frontend/src/components/ProjectDetailComponents/AddStudentModal/styles.ts
  frontend/src/components/ProjectDetailComponents/CoachInput/CoachInput.tsx
  frontend/src/components/ProjectDetailComponents/CoachInput/index.ts
  frontend/src/components/ProjectDetailComponents/PartnerInput/PartnerInput.tsx
  frontend/src/components/ProjectDetailComponents/PartnerInput/index.ts
  frontend/src/components/ProjectDetailComponents/PartnerInput/styles.ts
  frontend/src/components/ProjectDetailComponents/ProjectCoaches/ProjectCoaches.tsx
  frontend/src/components/ProjectDetailComponents/ProjectCoaches/index.ts
  frontend/src/components/ProjectDetailComponents/ProjectCoaches/styles.ts
  frontend/src/components/ProjectDetailComponents/ProjectPartners/ProjectPartners.tsx
  frontend/src/components/ProjectDetailComponents/ProjectPartners/index.ts
  frontend/src/components/ProjectDetailComponents/ProjectPartners/styles.ts
  frontend/src/components/ProjectDetailComponents/ProjectRoles/AddNewSkill/AddNewSkill.tsx
  frontend/src/components/ProjectDetailComponents/ProjectRoles/AddNewSkill/index.ts
  frontend/src/components/ProjectDetailComponents/ProjectRoles/AddNewSkill/styles.ts
  frontend/src/components/ProjectDetailComponents/ProjectRoles/ProjectRoles.tsx
  frontend/src/components/ProjectDetailComponents/ProjectRoles/SuggestedStudent/SuggestedStudent.tsx
  frontend/src/components/ProjectDetailComponents/ProjectRoles/SuggestedStudent/index.ts
  frontend/src/components/ProjectDetailComponents/ProjectRoles/SuggestedStudent/styles.ts
  frontend/src/components/ProjectDetailComponents/ProjectRoles/index.ts
  frontend/src/components/ProjectDetailComponents/ProjectRoles/styles.ts
  frontend/src/components/ProjectDetailComponents/TitleAndEdit/TitleAndEdit.tsx
  frontend/src/components/ProjectDetailComponents/TitleAndEdit/index.ts
  frontend/src/components/ProjectDetailComponents/TitleAndEdit/styles.ts
  frontend/src/components/ProjectDetailComponents/index.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/Skill/Skill.tsx
  frontend/src/components/ProjectsComponents/ProjectCard/ProjectCard.tsx
  frontend/src/components/ProjectsComponents/ProjectCard/styles.ts
  frontend/src/components/ProjectsComponents/ProjectTable.tsx
  frontend/src/components/ProjectsComponents/StudentPlaceholder/StudentPlaceholder.tsx
  frontend/src/components/ProjectsComponents/StudentPlaceholder/index.ts
  frontend/src/components/ProjectsComponents/StudentPlaceholder/styles.ts
  frontend/src/components/ProjectsComponents/index.ts
  frontend/src/components/StudentInfoComponents/StudentInfo.tsx
  frontend/src/components/StudentsComponents/StudentList/StudentList.tsx
  frontend/src/components/StudentsComponents/StudentList/styles.ts
  frontend/src/data/interfaces/index.ts
  frontend/src/data/interfaces/projects.ts
  frontend/src/utils/api/projectRoles.ts
  frontend/src/utils/api/projectStudents.ts
  frontend/src/utils/api/projects.ts
  frontend/src/utils/logic/project.ts
  frontend/src/views/StudentsPage/StudentsPage.tsx
  frontend/src/views/projectViews/ProjectDetailPage/ProjectDetailPage.tsx
  frontend/src/views/projectViews/ProjectDetailPage/styles.ts
  frontend/yarn.lock
Labels: enhancement, frontend

#526 Users lists fast typing
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/Coach/Coach.tsx
  frontend/src/components/UsersComponents/Coaches/Coaches.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/CoachList.tsx
  frontend/src/components/UsersComponents/Requests/Requests.tsx
  frontend/src/components/UsersComponents/Requests/RequestsComponents/RequestList.tsx
  frontend/src/utils/api/users/coaches.ts
  frontend/src/utils/api/users/requests.ts
  frontend/src/views/UsersPage/UsersPage.tsx
Labels: bug, frontend

#528 Projects filters (fast typing)
  frontend/src/components/ProjectsComponents/ProjectTable.tsx
  frontend/src/utils/api/projects.ts
  frontend/src/views/projectViews/ProjectsPage/ProjectsPage.tsx
Labels: bug, frontend

#530 States history filters (fast typing)
  frontend/src/components/AdminsComponents/AdminList.tsx
  frontend/src/utils/api/mail_overview.ts
  frontend/src/views/MailOverviewPage/MailOverviewPage.tsx
  frontend/src/views/MailOverviewPage/styles.ts
Labels: bug, frontend

#521 Update of user manual
  files/user_manual.md
  files/user_manual.pdf
Labels: documentation

#522 Skills from webhook
  backend/settings.py
  backend/src/app/logic/webhooks.py
  backend/src/database/crud/skills.py
  backend/tests/test_database/test_crud/test_skills.py
  backend/tests/test_routers/test_editions/test_webhooks/test_webhooks.py
Labels: enhancement, backend

#545 parse alumni and make ids configurable
  backend/settings.py
  backend/src/app/logic/webhooks.py
Labels: bug, backend, quick fix

#544 Add fades to conflict links
  frontend/src/components/ProjectsComponents/Conflicts/styles.ts
Labels: enhancement, frontend, quick fix

#557 Removed confirming a student in a project from the manual
  files/user_manual.md
  files/user_manual.pdf
Labels: documentation

#562 PreferredName Nullable
  backend/src/app/schemas/students.py
  backend/src/database/models.py
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/data/interfaces/students.ts
Labels: frontend, backend

#563 Common components for editions
  frontend/src/components/EditionsPage/DeleteEditionModal/DeleteEditionModal.tsx
  frontend/src/components/EditionsPage/NewEditionButton.tsx
Labels: enhancement, frontend

#551 Fix coacheslist not resetting after changing edition
  frontend/src/components/UsersComponents/Coaches/Coaches.tsx
  frontend/src/views/UsersPage/UsersPage.tsx
Labels: bug, frontend

#559 Students Add new filters
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/SuggestedForFilter/SuggestedForFilter.tsx
Labels: bug, frontend

#542 questions and answers of student
  frontend/src/components/StudentInfoComponents/QuestionsAndAnswers/FileField/FileField.tsx
  frontend/src/components/StudentInfoComponents/QuestionsAndAnswers/FileField/index.ts
  frontend/src/components/StudentInfoComponents/QuestionsAndAnswers/FileField/styles.ts
  frontend/src/components/StudentInfoComponents/QuestionsAndAnswers/QuestionAnswer/QuestionAnswer.tsx
  frontend/src/components/StudentInfoComponents/QuestionsAndAnswers/QuestionAnswer/index.ts
  frontend/src/components/StudentInfoComponents/QuestionsAndAnswers/QuestionAnswer/styles.ts
  frontend/src/components/StudentInfoComponents/QuestionsAndAnswers/QuestionsAndAnswers.tsx
  frontend/src/components/StudentInfoComponents/QuestionsAndAnswers/index.ts
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/components/StudentsComponents/StudentList/styles.ts
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/data/interfaces/questions.ts
  frontend/src/utils/api/questions.ts
Labels: enhancement, frontend

#565 Remove trailing slash from api route
  backend/src/app/routers/editions/students/answers/answers.py
Labels: bug, backend, quick fix

#561 student remove modal + state history button + ui changes
  frontend/src/components/StudentInfoComponents/RemoveStudentButton/RemoveStudentButton.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/styles.ts
  frontend/src/components/StudentInfoComponents/StudentStateHistoryButton/StudentStateHistoryButton.tsx
  frontend/src/components/StudentInfoComponents/StudentStateHistoryButton/index.ts
  frontend/src/components/StudentInfoComponents/StudentStateHistoryButton/styles.ts
  frontend/src/components/StudentInfoComponents/SuggestionComponents/AdminDecisionContainer/AdminDecisionContainer.tsx
  frontend/src/data/enums/suggestions.ts
Labels: frontend

#548 require coach for students
  backend/src/app/routers/editions/students/students.py
  backend/src/app/routers/editions/students/suggestions/suggestions.py
  backend/src/app/routers/skills/skills.py
  backend/tests/test_routers/test_skills/test_skills.py
Labels: bug, backend

#569 Project pages fixes
  frontend/src/components/ProjectDetailComponents/ProjectCoaches/styles.ts
  frontend/src/components/ProjectDetailComponents/ProjectPartners/ProjectPartners.tsx
  frontend/src/components/ProjectDetailComponents/ProjectPartners/styles.ts
  frontend/src/components/ProjectDetailComponents/ProjectRoles/ProjectRoles.tsx
  frontend/src/components/ProjectDetailComponents/ProjectRoles/SuggestedStudent/SuggestedStudent.tsx
  frontend/src/components/ProjectDetailComponents/ProjectRoles/SuggestedStudent/styles.ts
  frontend/src/components/ProjectDetailComponents/ProjectRoles/styles.ts
  frontend/src/components/ProjectDetailComponents/TitleAndEdit/TitleAndEdit.tsx
  frontend/src/components/ProjectDetailComponents/TitleAndEdit/styles.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/AddedCoaches/AddedCoaches.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/AddedPartners/AddedPartners.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/AddedSkills/AddedSkills.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/AddedSkills/styles.ts
  frontend/src/components/ProjectsComponents/CreateProjectComponents/styles.ts
  frontend/src/components/ProjectsComponents/ProjectCard/styles.ts
  frontend/src/components/StudentsComponents/StudentList/StudentList.tsx
  frontend/src/views/projectViews/ProjectDetailPage/ProjectDetailPage.tsx
  frontend/src/views/projectViews/ProjectDetailPage/styles.ts
Labels: enhancement, frontend

#568 Show a placeholder if student is null in a suggestion
  frontend/src/components/ProjectDetailComponents/ProjectRoles/SuggestedStudent/SuggestedStudent.tsx
  frontend/src/components/ProjectDetailComponents/ProjectRoles/SuggestedStudent/styles.ts
Labels: bug, frontend

#564 Codecov shield
  README.md
Labels: documentation, quick fix

#534 Websockets frontend
  frontend/.env.example
  frontend/src/App.tsx
  frontend/src/components/Navbar/EditionDropdown.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/Navbar/SocketDummy.tsx
  frontend/src/components/ProjectsComponents/Conflicts/ConflictsButton.tsx
  frontend/src/components/ProjectsComponents/ProjectCard/ProjectCard.tsx
  frontend/src/components/ProjectsComponents/ProjectTable.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/contexts/index.ts
  frontend/src/contexts/socket-context.tsx
  frontend/src/data/interfaces/websockets.ts
  frontend/src/environment.d.ts
  frontend/src/settings.ts
  frontend/src/utils/api/suggestions.ts
  frontend/src/views/projectViews/ProjectDetailPage/ProjectDetailPage.tsx
  frontend/src/views/projectViews/ProjectsPage/ProjectsPage.tsx
Labels: enhancement, frontend

#573 Fix scrollbars projects
  frontend/src/components/ProjectDetailComponents/ProjectCoaches/styles.ts
  frontend/src/components/ProjectDetailComponents/ProjectPartners/styles.ts
  frontend/src/components/ProjectDetailComponents/ProjectRoles/styles.ts
  frontend/src/components/ProjectDetailComponents/TitleAndEdit/styles.ts
  frontend/src/components/ProjectsComponents/ProjectCard/styles.ts
Labels: bug, frontend

#577 Hide RemoveRole- & AddSkill button for coaches
  frontend/src/components/ProjectDetailComponents/ProjectRoles/ProjectRoles.tsx
  frontend/src/views/projectViews/ProjectDetailPage/ProjectDetailPage.tsx
Labels: bug, frontend, quick fix

#582 update placeholders
  frontend/src/components/AdminsComponents/AddAdmin.tsx
  frontend/src/components/ProjectDetailComponents/ProjectRoles/AddNewSkill/AddNewSkill.tsx
  frontend/src/components/UsersComponents/Coaches/CoachesComponents/AddCoach.tsx
Labels: frontend

#572 Refresh students states (+ style)
  frontend/src/components/Common/Tables/styles.ts
  frontend/src/components/Navbar/StudentsDropdown.tsx
  frontend/src/views/MailOverviewPage/MailOverviewPage.tsx
  frontend/src/views/MailOverviewPage/styles.ts
  frontend/src/views/StudentMailHistoryPage/StudentMailHistoryPage.tsx
  frontend/src/views/StudentMailHistoryPage/styles.ts
Labels: bug, frontend

#574 Students styling + small bugfix
  frontend/src/components/StudentInfoComponents/StudentInformation/styles.ts
  frontend/src/components/StudentInfoComponents/StudentStateHistoryButton/StudentStateHistoryButton.tsx
  frontend/src/components/StudentInfoComponents/SuggestionComponents/AdminDecisionContainer/AdminDecisionContainer.tsx
  frontend/src/components/StudentInfoComponents/SuggestionComponents/CoachSuggestionContainer/CoachSuggestionContainer.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/AlumniFilter/AlumniFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentCoachVolunteerFilter/StudentCoachVolunteerFilter.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/StudentListFilters.tsx
  frontend/src/components/StudentsComponents/StudentListFilters/SuggestedForFilter/SuggestedForFilter.tsx
Labels: bug, enhancement, frontend

#575 Infinite scroll bugfix
  frontend/src/components/UsersComponents/Requests/Requests.tsx
  frontend/src/views/MailOverviewPage/MailOverviewPage.tsx
  frontend/src/views/UsersPage/UsersPage.tsx
  frontend/src/views/projectViews/ProjectsPage/ProjectsPage.tsx
Labels: bug, frontend

#571 Restyle StudentStateHistoryPage
  backend/src/database/crud/students.py
  frontend/src/components/Common/Buttons/BackButton.tsx
  frontend/src/components/Common/Buttons/styles.ts
  frontend/src/components/Common/Tables/styles.ts
  frontend/src/components/Navbar/StudentsDropdown.tsx
  frontend/src/data/interfaces/email.ts
  frontend/src/views/MailOverviewPage/MailOverviewPage.css
  frontend/src/views/MailOverviewPage/MailOverviewPage.tsx
  frontend/src/views/MailOverviewPage/styles.ts
  frontend/src/views/StudentMailHistoryPage/StudentMailHistoryPage.tsx
  frontend/src/views/StudentMailHistoryPage/styles.ts
  frontend/src/views/projectViews/ProjectDetailPage/ProjectDetailPage.tsx
  frontend/src/views/projectViews/ProjectDetailPage/styles.ts
Labels: bug, frontend

#584 Hide remove and state button
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
Labels: frontend

#585 Remove TODO, fix random build error, hide state routes for coaches
  frontend/src/Router.tsx
  frontend/src/components/ProjectsComponents/CreateProjectComponents/InputFields/Partner/Partner.tsx
  frontend/src/components/StudentInfoComponents/QuestionsAndAnswers/QuestionAnswer/Answer.tsx
  frontend/src/components/StudentInfoComponents/QuestionsAndAnswers/QuestionAnswer/index.ts
  frontend/src/components/StudentInfoComponents/QuestionsAndAnswers/QuestionsAndAnswers.tsx
Labels: enhancement, frontend

#588 Show loading spinner while validating register url
  frontend/src/utils/api/api.ts
  frontend/src/utils/logic/index.ts
  frontend/src/utils/logic/routes.test.ts
  frontend/src/utils/logic/routes.ts
  frontend/src/views/Registration/RegisterPage/RegisterPage.tsx
Labels: bug, frontend

#589 Move .css import
  frontend/src/components/Common/Buttons/styles.ts
  frontend/src/components/Common/Forms/CommonMultiselect.tsx
  frontend/src/components/Common/Forms/styles.ts
  frontend/src/views/MailOverviewPage/MailOverviewPage.tsx
Labels: bug, frontend, quick fix

#590 suggestions fix + no suggestions text
  frontend/src/components/StudentInfoComponents/StudentInformation/StudentInformation.tsx
  frontend/src/components/StudentInfoComponents/StudentInformation/styles.ts
Labels: frontend

#591 Fix incorrect test
  backend/tests/test_routers/test_login/test_login.py
Labels: bug, backend

#592 Change API version
  backend/src/app/app.py
Labels: enhancement, backend, quick fix

#594 Fix typo
  frontend/src/components/RegisterComponents/SocialButtons/SocialButtons.tsx
Labels: enhancement, frontend, quick fix

#595 update guide
  files/sysadmin_guide.md
Labels: documentation, ci/cd

#596 Release v3.0.1
  files/sysadmin_guide.md
  frontend/src/components/RegisterComponents/SocialButtons/SocialButtons.tsx
Labels: release
